.nav-temp{
    background-color: white;
    /* display: block; */
    height: 4vh;
    width: 100%;
    padding: 1vw;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 20px 2px grey;
    opacity: 0.8;
}
a{
    text-decoration: none;
}

a.nav-buttons{
    padding: 2vh 2vw;
    overflow: hidden;
    border: none;
    background-color: white;
    display: inline-flex;
    width: 7vw;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

a.nav-buttons:hover{
    background-color: #8bdcf9;
}
